@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Fugaz';
    src: url(../font/FugazOne-Regular.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Regular.ttf) format('opentype');
    font-weight: normal;
}

:root {
    --cor-beje: #E0C09D;
    --cor-marrom: #ceaaa0;
    --cor-branca: #FFFFFF;
    --cor-preta: #161616;
    --cor-cinza: #a6afb9;
    --cor-cinza-escuro: #202020;
    --cor-azul-claro: #547bee;
    --cor-azul: #45578d;
    --cor-vermelho: #c23a3a;
    --cor-verde: #4ed63c;

    --sombra-img-padrao: 1px 1px 10px #0000001e;
    --sombra-card: 1px 1px 10px #00000042;

    --gradient-fundo: linear-gradient(to left, var(--cor-azul), var(--cor-cinza));

    --font-titulo: 'Fugaz', 'cursive', 'Arial', sans-serif;
    --font-padrao: 'Inter', Arial, sans-serif;
    --font-destaque:'Josefin Sans', 'Inter', 'Arial', sans-serif;
}

:target {
    scroll-margin-top: 260px;
}

::selection {
    background-color: gainsboro;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cor-cinza);
    border: 3px solid var(--cor-branca);
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    color: var(--cor-cinza-escuro);
    font: 18px var(--font-padrao);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 28px 0;
    width: 100%;
    max-width: 1300px;
}

.menu-responsivo {
    display: none;
    cursor: pointer;
    z-index: 10000;
}

.menu-responsivo div {
    content: "";
    width: 40px;
    height: 3px;
    margin: 10px;
    background-color: var(--cor-azul-claro);
    transition: 500ms ease-in-out;
}

.linha1, .linha2, .linha3 {
    box-shadow: 1px 1px 3px #00000027;
}

.menu-responsivo.ativo .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-responsivo.ativo .linha2 {
    width: 0;
    transform: translateX(20px);
}

.menu-responsivo.ativo .linha3 {
    transform: rotate(45deg) translate(-10px, -10px);
}


#btn-topo img {
    width: 50px;
    height: 50px;
}

#btn-topo {
    cursor: pointer;
    display: none;
    position: fixed;
    border: none;
    bottom: 50px;
    right: 100px;
    z-index: 1000;
    border-radius: 40px;
    background-color: var(--cor-azul-claro);
    transition: 200ms ease-in-out;
}

#btn-topo:hover {
    transform: scale(1.1);
}

h1 {
    color: var(--cor-cinza-escuro);
    font: 50px var(--font-titulo);
    letter-spacing: -1px;
    position: relative;
}

h1::after {
    content: " ";
    width: 120px;
    height: 3px;
    position: absolute;
    top: 63px;
    left: 0;
    background-color: var(--cor-azul-claro);
}

h1 > mark {
    color: var(--cor-azul-claro);
    background: transparent;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav > a {
    font-size: 17px;
    color: var(--cor-preta);
    margin: 8px 18px;
    position: relative;
}

nav > a::after {
    content: " ";
    width: 0;
    height: 2px;
    position: absolute;
    top: 24px;
    left: 0;
    background-color: var(--cor-preta);
    transition: 300ms ease-in-out;
}

nav > a:hover::after {
    width: 100%;
}

nav > a.especial {
    padding: 12px 25px;
    color: var(--cor-branca);
    background-color: var(--cor-azul-claro);
    border: 1px solid transparent;
    border-radius: 30px;
    transition: 300ms ease-in-out;
}

nav > a.especial:hover {
    color: var(--cor-preta);
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-preta);
    border-radius: 30px;
}

nav > a.especial::after {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1450px;
    margin: auto;
}

article {
    margin: 100px 0;
}

article#sobre {
    display: flex;
    margin-top: 45px;
    padding: 90px 80px;
    border-radius: 30px;
    background: var(--gradient-fundo);
}

section.container-sobre {
    width: 50%;
}

section.container-sobre > h2 {
    font: bold 84px var(--font-destaque);
    height: 200px;
    line-height: 100px;
}

.img-demostrativa {
    animation: entrando-imagem-desmostrativa 1.3s linear;
}

@keyframes entrando-imagem-desmostrativa {
    from {
        opacity: 20%;
    }
    to {
        opacity: 100%;
    }
}

.text-digitando {
    animation: digitando 1.3s linear infinite;
}

@keyframes digitando {
    0%, 100% {
        opacity: 30%;
    }
    
    50% {
        opacity: 100%;
    }
}

section.container-sobre > p {
    width: 80%;
    margin: 45px 0;
    line-height: 28px;
}

.text-entrando {
    animation: entrando 1.3s normal;
}

@keyframes entrando {
    from {
        transform: translateY(30%);
        opacity: 30%;
    }

    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

.text-entrando-lateral {
    animation: entrando-lateral 1s normal;
}

@keyframes entrando-lateral {
    0% {
        transform: translateX(-30%);
        opacity: 0%;
    }

    60% {
        opacity: 40%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.container-redes {
    width: 200px;
}

.container-redes:hover img:not(:hover) {
    opacity: 60%;
}

.container-redes img {
    width: 36px;
    margin-right: 15px;
    transition: 250ms ease-in-out;
}

aside.container-imagem-demostrativa {
    width: 50%;
}

aside.container-imagem-demostrativa img {
    width: 95%;
    margin: auto 30px;
}

h2 {
    font: bold 46px var(--font-destaque);
    margin: 10px 0;
}

h3 {
    font: normal 17px var(--font-padrao);
}

article#habilidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

aside.container-projeto-destaque {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    padding: 25px;
    box-shadow: var(--sombra-card);
    background-color: var(--cor-marrom);
}

aside.container-projeto-destaque img {
    border-radius: 7px;
    box-shadow: var(--sombra-img-padrao);
}

aside.container-projeto-destaque h3 {
    font: bold 32px var(--font-destaque);
    margin: 23px 0 13px 0;
}

aside.container-projeto-destaque p {
    margin-bottom: 30px;
}

aside.container-projeto-destaque div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside.container-projeto-destaque div > a {
    color: var(--cor-cinza-escuro);
    padding: 12px 23px;
    border-radius: 24px;
    border: 1px solid var(--cor-cinza-escuro);
    transition: 150ms ease-in;
}

aside.container-projeto-destaque div > .acessar:hover {
    color: var(--cor-marrom);
    border-color: var(--cor-azul);
    background-color: var(--cor-azul);
}

aside.container-projeto-destaque div > .repositorio:hover {
    color: var(--cor-marrom);
    border-color: var(--cor-cinza-escuro);
    background-color: var(--cor-cinza-escuro);
}

section.container-habilidades {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 50% 50%;
    width: 50%;
}

section div.habilidade {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

section div.habilidade img {
    width: 40px;
    margin-bottom: 12px;
}

section div.habilidade h3 {
    font: bold 20px var(--font-destaque);
}

section div.habilidade > p {
    width: 80%;
    font-size: 16px;
    margin-top: 12px;
    line-height: 26px;
}

article#tecnologias {
    margin-bottom: 160px;
}

section.container-tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.container-tecnologias:has(a:hover) a:not(:hover) {
    opacity: 60%;
}

section a.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 260ms ease-in-out;
    margin: 10px 0;
}

section a.tecnologia:hover {
    scale: 1.1;
}

section a.tecnologia img {
    width: 58px;
}

section a.tecnologia legend {
    margin: 10px 0 20px 0;
    font-size: 19px;
    color: var(--cor-preta);
}

section a.tecnologia > div.mensagem span {
    width: 590px;
    position: absolute;
    margin: 14px 0 0 -40px;
    padding: 16px 20px;
    color: var(--cor-cinza-escuro);
    border: 1px solid var(--cor-cinza-escuro);
    background: var(--cor-beje);
    border-radius: 10px 23px;
    opacity: 100%;
}

section a.tecnologia > div.mensagem span::after {
    content: "▲";
    position: absolute;
    left: 25px;
    top: -24px;
    font-size: 28px;
}

section a.tecnologia > div.mensagem.desativado {
    opacity: 0;
    transition: 0.6s ease-in-out;
}

.img-entrando-lateral {
    animation: img-entrando-lateral 1.6s linear;
}

@keyframes img-entrando-lateral {
    0%, 100% {
        opacity: 100%;
    }

    60% {
        opacity: 40%;
    }
}

article#projetos {
    margin-bottom: 0;
}

section.container-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div.projeto {
    width: 31%;
    height: 620px;
    margin-bottom: 50px;
}

section div.projeto > img {
    width: 100%;
    border-radius: 7px;
    box-shadow: var(--sombra-img-padrao);
}

section div.projeto h4 {
    color: var(--cor-cinza-escuro);
    font: bold 34px var(--font-destaque);
    margin: 32px 0 20px 0;
}

section ul {
    margin-bottom: 50px;
}

section div.projeto ul > li {
    margin: 10px 0;
    font-size: 19px;
}

section div.projeto ul > li mark {
    color: var(--cor-vermelho);
    background: transparent;
}

div.nav-projeto {
    display: flex;
    align-items: center;
}

section .nav-projeto > a.acessar-projeto {
    color: var(--cor-branca);
    padding: 15px 32px;
    border-radius: 7px;
    background-color: var(--cor-cinza-escuro);
    transition: 250ms ease-in-out;
}

section .nav-projeto a.acessar-projeto:hover{
    box-shadow: 0 4px 5px #00000073;
}

section .nav-projeto a.acessar-projeto:active{
    background-color: var(--cor-verde);
}

section .nav-projeto .repositorio-projeto img {
    width: 30px;
    margin-left: 10px;
}

article#contato {
    display: flex;
    justify-content: space-around;
}

section.container-contato-pessoal > p {
    margin-bottom: 10px;
}

footer p > a {
    color: var(--cor-branca);
}

footer p > a:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--cor-branca);
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: var(--cor-branca);
    background-color: var(--cor-preta);
}

@media (max-width:1366px) {
    :target{
        scroll-margin-top: 180px;
    }

    header {
        justify-content: space-around;
    }

    h1 {
        font-size: 45px;
    }

    h1::after {
        width: 100px;
    }

    nav > a {
        font-size: 16px;
    }
    
    article {
        margin: 60px 0;
    }

    article#sobre {
        margin-top: 30px;
        padding: 60px 50px;
    }

    section.container-sobre > h2 {
        font-size: 74px;
        line-height: 90px;
        height: 150px;
    }

    section.container-sobre > p {
        margin: 40px 0;
        font-size: 17px;
        line-height: 26px;
    }

    section a.tecnologia > div.mensagem span {
        font-size: 16px;
    }

    section div.projeto {
        margin-bottom: 20px;
    }

    section div.projeto h4 {
        font-size: 28px;
    }

    section ul {
        margin-bottom: 35px;
    }

    section div.projeto ul > li {
        font-size: 17px;
    }
}

@media (max-width:1236px) {
    main {
        width: 92%;
    }

    section.container-sobre > h2 {
        font: bold 65px var(--font-destaque);
        height: 140px;
        line-height: 88px;
    }

    section.container-sobre > p {
        width: 97%;
        margin: 35px 0;
    }    

    aside.container-imagem-demostrativa {
        width: 48%;
    }

    aside.container-imagem-demostrativa img {
        width: 90%;
    }

    article#habilidades {
        width: 100%;
        flex-direction: column;
    }

    aside.container-projeto-destaque, section.container-habilidades {
        width: 95%;
    }

    section.container-habilidades {
        margin-top: 52px;
    }

    section div.habilidade img {
        width: 38px;
        margin-bottom: 15px;
    }

    section div.habilidade > p {
        width: 100%;
        margin-bottom: 16px;
    }

    section div.projeto {
        width: 45%;
    }
}

@media (max-width:1070px) {

    .menu-responsivo {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        position: absolute;
        background: var(--gradient-fundo);
        transition: 700ms ease;
    }
    
    nav.ativo {
        display: flex;
    }

    nav {
        justify-content: space-around;
    }

    nav > a {
        color: var(--cor-branca);
    }

    article#sobre {
        padding: 40px 30px;
        text-align: center;
    }

    section.container-sobre {
        width: 100%;
    }

    section.container-sobre > h2 {
        font-size: 52px;
        position: relative;
        height: auto;
    }

    section.container-sobre > p {
        margin: 0;
        width: 100%;
    }

    aside.container-imagem-demostrativa {
        display: none;
    }

    .container-redes {
        width: 100%;
        margin-top: 28px;
    }

    section.container-titulo mark:nth-child(2)::after {
        content: ".";
    }

    section.container-titulo span {
        display: none;
    }
}

@media (max-width:800px) {
    :target{
        scroll-margin-top: 150px;
    }

    h1 {
        font-size: 40px;
    }

    h1 mark:nth-child(2)::after {
        content: ".";
    }

    h1 > span {
        display: none;
    }

    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 16px;
    }

    main {
        width: 95%;
    }

    section.container-sobre > h2 {
        word-break: break-word;
        white-space: pre-wrap;
    }

    aside.container-projeto-destaque, section.container-habilidades {
        width: 92%;
    }

    section.container-habilidades {
        display: flex;
        flex-direction: column;
    }

    article#tecnologias {
        margin: 0;
        margin: 60px 0;
    }

    section.container-tecnologias {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    section a.tecnologia > div.mensagem span {
        display: none;
    }

    section div.projeto {
        height: 600px;
    }
}

@media (max-width:740px) {
    h1::after {
        top: 53px;
    }

    header {
        justify-content: space-between;
        width: 90%;
    }

    p {
        font-size: 16px !important;
    }

    main {
        width: 93%;
    }

    article#sobre {
        padding: 25px 15px;
    }

    section.container-sobre > h2 {
        font-size: 40px;
        line-height: 60px;
    }

    aside.container-projeto-destaque, section.container-habilidades {
        width: 90%;
    }

    aside.container-projeto-destaque {
        padding: 18px;
    }

    aside.container-projeto-destaque h3 {
        font-size: 26px;
    }

    aside.container-projeto-destaque div > a {
        padding: 8px 18px;
    }

    section.container-tecnologias {
        grid-template-columns: 33% 33% 33%;
    }

    section.container-projetos {
        justify-content: center;
    }

    section div.projeto {
        width: 93%;
        height: auto;
        margin-bottom: 60px;
    }

    article#contato {
        height: 460px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:540px) {
    section.container-sobre > h2 {
        margin: 0 20px;
        height: 120px;
    }
}